<% if owner_signed_in? %>
  <h3>Welcome Greta!</h3>
<% end %>

<h1>Greta's Top Picks</h1>
<% @categories.each do |category| %>
  <h3><%= category.name %></h3>
  <% category.products.each do |product| %>
    <ul>
      <li id=<%= dom_id(product) %>><%= product.name %>
        <ul>
          <li><%= product.description %></li>
          <li><%= product.price %> SEK</li>
          <%= button_to 'Add to order', order_items_path(id: product.id) %>
        </ul>
      </li>
    </ul>
  <% end %>
<% end %>
