<nav>
  <h1>GRETA'S GREENS</h1>
  <div>
    <%= link_to 'Menu', root_path, class: 'navbar-brand' %>
    <%= link_to 'Signup', new_user_registration_path, class: 'navbar-brand' %>
    <%= link_to 'Login', new_user_session_path, class: 'navbar-brand' %>
    <% if user_signed_in? %>
    <%= link_to 'Review your order:', ordered_items_path, class: 'navbar-brand' %>
    <%= order_items_count %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand' %>
    <% end %>
  </div>
</nav>